.form__field{
    width: 100%;
    margin-bottom: 35px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.form__field:last-of-type{
    margin-bottom: 0;
}


@media screen and (min-width : 768px) {
  .form__field{
    margin-bottom: 32px;
    }
}