.popup__container_type_image{
    background: transparent;
    box-sizing: border-box;
    border-radius: 0px;
    height: auto;
    width: auto;
    max-height: 299px;
}


@media screen and (min-width : 768px) {
  .popup__container_type_image {
    max-height: 400px;
    }
}

@media screen and (min-width : 1024px) {
  .popup__container_type_image {
    max-height: 540px;
    }
}
