.button__like{
    background:rgba(0,0,0,0) url(../../../images/button_icons/like_button.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 21px;
    height: 18px;
    margin: 6px 7px 0;
    
}