.header{
    width 320px;
    padding-top: 28px;
    padding-bottom:32px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    /* had to convert hex to rgba to get opacity for just the border, I think that's why I had originally tried using line-break before. Thanks! */
    
}

@media screen and (min-width : 1024px) {
  .header {
      width:882px;
      margin:auto;
      padding-top: 45px;
    }
}