.header{
    width: 100%;
    padding-top: 28px;
    padding-bottom:32px;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (min-width : 1024px) {
  .header {
      width:882px;
      margin:auto;
      padding-top: 45px;
    }
}