.button__add{
    background: rgba(0,0,0) url('../../../images/button_icons/add_button.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 282px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 32px 0 0;
}

@media screen and (min-width : 1024px) {
  .button__add {
      width:150px;
      position: absolute;
      right: 0;
      top:30px;
      margin: 0;
    }
}

