.profile__about-me{
    width:100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    padding-top: 14px;
    order: 3;
/*  not sure if we are to make the text wrap or use ellipsis here?*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

@media screen and (min-width : 1024px) {
  .profile__about-me {
      width: 318px;
      text-align: left;
      font-size: 18px;
      line-height: 22px;
      padding-top: 16px;
    }
}