.popup__title{
    width: 358px; /*made 358px instead of 330px so could use margin auto to align center same with other elements in the popup*/
    max-width: 75%;
    font-family: 'Inter','Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-top: 34px;
    padding-bottom: 24px;
    margin: 0 auto;
}


@media screen and (min-width : 768px) {
  .popup__title {
    padding-bottom: 54px;
    }
}
