@import url('./__edit/button__edit.css');
@import url('./__add/button__add.css');
@import url('./__like/button__like.css');


.button:hover{
    opacity: .6;
    transition: 1s;
    cursor: pointer;
}
